@model List<GameForum.Models.Discussion>;

@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Game Forum</h1>
	<p class="lead">Welcome to the Game Forum! Here you can discuss your favorite games with other users.</p>
</div>

<div class="row">
	@foreach (var discussion in Model)
	{
		<div class="col-md-4">
			<h2>@discussion.Title</h2>
			<p>@discussion.Content</p>
			<p><a class="btn btn-default" href="@Url.Action("Details", "Home", new { id = discussion.DiscussionId })">View details &raquo;</a></p>
		</div>
	}
</div>

